<div class="invoice-content-2 bordered">
  <div class="row invoice-head">
    <div class="col-md-7 col-xs-6">
      <div class="invoice-logo">
        <h1 class="uppercase"><%= @merchandise.slug %><a class="btn btn-circle btn-icon-only btn-default popovers" href="<%= edit_merchandise_url(@merchandise) %>" data-container="body" data-trigger="hover" data-placement="top" data-content="Sửa"><i class="fa fa-pencil"></i></a></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="invoice-title uppercase">Tên</h2>
      <p class="invoice-desc"><%= @merchandise.name %></p>
    </div>
    <div class="col">
      <h2 class="invoice-title uppercase">Tag</h2>
      <p class="invoice-desc"><%= link_to @merchandise.tag.slug , tag_path(@merchandise.tag) %></p>
    </div>
    <div class="col">
      <h2 class="invoice-title uppercase">Quốc gia</h2>
      <p class="invoice-desc grand-total"><%= @merchandise.country %></p>
    </div>
    <div class="col">
      <h2 class="invoice-title uppercase">Bank</h2>
      <p class="invoice-desc grand-total"><%= @merchandise.center_bank %></p>
    </div>
  </div>
  <div class="row invoice-body">
    <div class="col-xs-12 table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="invoice-title uppercase">Tóm tắt</th>
        </thead>
        <tbody>
        <tr>
          <td class="post-article markdown">
            <%= markdown @merchandise.brief&.html_safe %>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="profile-content">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered">
          <div class="col-md-12" style="padding: 0px;">
            <%= @merchandise.desciption.html_safe %>
          </div>
          <%= render partial: 'shared/comments_box', locals: {comments: @comments, comment_object: @merchandise} %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
