<%= form_with(model: @fund_log, remote: true, :html => {class: 'form-horizontal'}) do |f| %>
  <% if @fund_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fund_log.errors.count, "error") %> prohibited this fund_log from being saved:</h2>

      <ul>
      <% @fund_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">Số lượng (Usdt):</label>
    <div class="col-md-4">
      <%= f.number_field :change_amount, class: 'form-control', placeholder: "Nhập số tiền", maxlength: 255 %>
      <div class="form-control-focus"></div>
    </div>
  </div>

  <div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">Hình thức thay đổi:</label>
    <div class="col-md-10">
      <div class="md-radio-inline">
        <div class="md-radio">
          <input type="radio" id="radio1" name="fund_log[change_type]" class="md-radiobtn" value="profit"  <%= f.object.change_type == "profit" ? "checked=\"checked\"" : "" %>>
          <label for="radio1">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>Tiền lãi </label>
        </div>
        <div class="md-radio">
          <input type="radio" id="radio2" name="fund_log[change_type]" class="md-radiobtn" value="loss" <%= f.object.change_type == "loss" ? "checked=\"checked\"" : "" %>>
          <label for="radio2">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>Tiền lỗ</label>
        </div>
        <div class="md-radio">
          <input type="radio" id="radio3" name="fund_log[change_type]" class="md-radiobtn" value="deposit" <%= f.object.change_type == "deposit" ? "checked=\"checked\"" : "" %>>
          <label for="radio3">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>Nạp</label>
        </div>
        <div class="md-radio">
          <input type="radio" id="radio4" name="fund_log[change_type]" class="md-radiobtn" value="withdraw" <%= f.object.change_type == "withdraw" ? "checked=\"checked\"" : "" %>>
          <label for="radio4">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>Rút</label>
        </div>
        <div class="md-radio">
          <input type="radio" id="radio5" name="fund_log[change_type]" class="md-radiobtn" value="deposit_fee" <%= f.object.change_type == "deposit_fee" ? "checked=\"checked\"" : "" %>>
          <label for="radio5">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>Chuyển làm phí giao dịch</label>
        </div>
        <div class="md-radio">
          <input type="radio" id="radio6" name="fund_log[change_type]" class="md-radiobtn" value="fee" <%= f.object.change_type == "fee" ? "checked=\"checked\"" : "" %>>
          <label for="radio5">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>Trừ phí</label>
        </div>
      </div>
      <div class="form-control-focus"></div>
    </div>
  </div>

  <div class="form-actions margin-top-10">
    <div class="row">
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="show-main-modal">
          <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Hủy
        </button>
        <%= f.button :button, class: 'btn green' do %>
            <i class="fa fa-floppy-o" aria-hidden="true"></i>Lưu
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
    $(document).ready(function () {
        $("#show-main-modal").click(function () {
            $("#main-modal").modal("show");
        });
    });
</script>