<%= form_with(model: glossary, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if glossary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(glossary.errors.count, "error") %> prohibited this glossary from being saved:</h2>
      <ul>
        <% glossary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:root_tag].present? %>
    <%= hidden_field_tag 'root_tag', params[:root_tag] %>
  <% end %>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id="title">Tiêu đề</span>
    <div class="col-sm-11">
      <%= form.text_field :title, autocomplete: "off", id: "title", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover">Tóm tắt</span>
    <div class="col-sm-11">
      <%= form.text_area :brief, class: "form-control input-md",  placeholder: true, id: "markdown" %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id=content">Nội dung</span>
    <div class="col-sm-11">
      <%= form.cktext_area :content, rows: 10, id: "editor1" %>
    </div>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-info">Lưu</button>
      </div>
    </div>
  </div>
  </div>
<% end %>


