<div id="app">
  <div id="__next">
    <div class="mainLayout">
      <div class="glossariesLayout">
        <div class="glossaries">
          <div class="glossariesList">
            <% Glossary::ALPHABET.each do |char| %>
              <div class="glossaryHeader">
                <div class="letter" id="<%= char %>"><%= char.upcase %></div>
                <div class="separator">
                  <div></div>
                </div>
              </div>
              <% Glossary.order_alphabet(char)&.each do |glossary| %>
                <a class="glossaryEntry" href="">
                  <h2><%= glossary.title %>Absolute Advantage</h2>
                  <div><%= glossary.brief %></div>
                </a>
              <% end %>
            <% end %>
          </div>
          <div class="indexSelector">
            <% Glossary::ALPHABET.each do |char| %>
              <%= link_to char, "##{char}" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
