<div class="invoice-content-2 bordered">
  <div class="row invoice-head">
    <div class="col-md-7 col-xs-6">
      <div class="invoice-logo">
        <h1 class="uppercase"><%= @merchandise_rate.slug %><a class="btn btn-circle btn-icon-only btn-default popovers" href="<%= edit_merchandise_rate_url(@merchandise_rate) %>" data-container="body" data-trigger="hover" data-placement="top" data-content="Sửa"><i class="icon-pencil"></i></a></h1>
      </div>
    </div>
  </div>
  <div class="row invoice-cust-add">
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Tên</h2>
      <p class="invoice-desc"><%= @merchandise_rate.name %></p>
    </div>
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Tử số</h2>
      <p class="invoice-desc"><%= link_to @merchandise_rate.base.name , merchandise_path(@merchandise_rate.base) %></p>
    </div>
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Mẫu số</h2>
      <p class="invoice-desc inv-address"><%= link_to @merchandise_rate.quote.name , merchandise_path(@merchandise_rate.quote) %></p>
    </div>
    <div class="col-xs-3 invoice-subtotal">
      <h2 class="invoice-title uppercase">Winrate</h2>
      <p class="invoice-desc grand-total"><%= @merchandise_rate.winrate %>%</p>
    </div>
  </div>
  <div class="row invoice-body">
    <div class="col-xs-12 table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="invoice-title uppercase">Tóm tắt</th>
          <th class="invoice-title uppercase text-center">Thanh khoản</th>
          <th class="invoice-title uppercase text-center">Spread</th>
          <th class="invoice-title uppercase text-center">Range(tháng)</th>
          <th class="invoice-title uppercase text-center">Cặp liên quan</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="post-article markdown">
            <%= markdown @merchandise_rate.brief&.html_safe %>
          </td>
          <td class="text-center sbold"><%= @merchandise_rate.winrate %></td>
          <td class="text-center sbold"><%= @merchandise_rate.spread %>point</td>
          <td class="text-center sbold"><%= @merchandise_rate.range %>point</td>
          <td class="text-center sbold"><%= @merchandise_rate.crosses_related %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="profile-content">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered">
          <div class="portlet-title tabbable-line">
            <div class="caption caption-md">
              <ul class="nav nav-tabs">
                <li class='active'>
                  <a href="<%= "#tab-1" %>" data-toggle="tab" aria-expanded="false"><strong>Miêu tả</strong></a>
                </li>
                <li>
                  <a href="<%= "#tab-2" %>" data-toggle="tab" aria-expanded="false"><strong>TimeFame</strong></a>
                </li>
                <li>
                  <a href="<%= "#tab-3" %>" data-toggle="tab" aria-expanded="false"><strong>Cách chơi</strong></a>
                </li>
              </ul>
            </div>
            <div class="portlet-body">
              <div class="tab-content">
                <div class="tab-pane active" id="tab-1">
                  <div class="col-md-12" style="padding: 0px;">
                    <%= @merchandise_rate.desciption.html_safe %>
                  </div>
                </div>
                <div class="tab-pane" id="tab-2">
                  <div class="col-md-12" style="padding: 0px;">

                  </div>
                </div>
                <div class="tab-pane" id="tab-3">
                  <div class="col-md-12" style="padding: 0px;">
                  </div>
                </div>
              </div>
            </div>
            <%= render partial: 'shared/comments_box', locals: {comments: @comments} %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
