<div class="m-heading-1 border-green m-bordered">
  <div class="row">
    <div class="col-md-12">
      <a href="<%= agreements_admin_bills_url %>" class="icon-btn">
        <i class="fa fa-credit-card"></i>
        <div> Hóa đơn </div>
        <span class="badge badge-danger"> 3 </span>
      </a>
      <a href="<%= admin_electricity_waters_url %>" class="icon-btn">
        <i class="fa fa-plug"></i>
        <div> Điện / Nước </div>
        <span class="badge badge-info"> 12 </span>
      </a>
      <a href="<%= admin_payment_bills_url %>" class="icon-btn">
        <i class="fa fa-money"></i>
        <div> Phiếu chi </div>
      </a>
      <a href="<%= admin_agreements_url %>" class="icon-btn">
        <i class="fa fa-handshake-o"></i>
        <div> Hợp đồng </div>
        <span class="badge badge-success"> 4 </span>
      </a>
      <a href="<%= admin_renters_url %>" class="icon-btn">
        <i class="fa fa-group"></i>
        <div> Khách thuê </div>
        <span class="badge badge-danger"> 2 </span>
      </a>
      <a href="<%= admin_reports_url %>" class="icon-btn">
        <i class="fa fa-bar-chart-o"></i>
        <div> Báo cáo </div>
      </a>
      <a href="<%= admin_buildings_url %>" class="icon-btn">
        <i class="fa fa-sitemap"></i>
        <div> Khu trọ </div>
      </a>
      <a href="<%= admin_rooms_url %>" class="icon-btn">
        <i class="fa fa-bed"></i>
        <div> Phòng </div>
      </a>
      <a href="<%= admin_room_devices_url %>" class="icon-btn">
        <i class="fa fa-bath" aria-hidden="true"></i>
        <div> Thiết bị </div>
      </a>
      <a href="<%= admin_services_url %>" class="icon-btn">
        <i class="fa fa-cloud" aria-hidden="true"></i>
        <div> Dịch vụ </div>
      </a>
      <a href="<%= admin_configs_url %>" class="icon-btn">
        <i class="fa fa-cogs"></i>
        <div> Cấu hình </div>
      </a>
      <a href="<%= admin_feedbacks_url %>" class="icon-btn">
        <i class="fa fa-heart-o"></i>
        <div> Phản hồi </div>
      </a>
    </div>
  </div>
</div>