<div class="top-toolbar">
  <div class="row">
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="/" class="icon-btn <%= params[:controller] == 'dashboard' ? 'active' : '' %>">
        <i class="fa fa-university"></i> - F1
        <div> Quản trị</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="<%= fund_logs_url %>" class="icon-btn <%= params[:controller] == 'fund_logs' ? 'active' : '' %>">
        <i class="fa fa-money"></i> - F2
        <div>QUỸ</div>
        <span class="badge badge-danger"> 3 </span>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="<%= trades_url %>" class="icon-btn <%= params[:controller] == 'trades' ? 'active' : '' %>">
        <i class="fa fa-shopping-cart"></i> - F3
        <div>GIAO DỊCH</div>
        <span class="badge badge-warning"> 12 </span>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="<%= coins_url %>" class="icon-btn <%= params[:controller] == 'coins' ? 'active' : '' %>">
        <i class="fa fa-bitcoin"></i> - F4
        <div>COIN</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="<%= wikis_url %>" class="icon-btn <%= params[:controller] == 'wikis' ? 'active' : '' %>">
        <i class="fa fa-wikipedia-w"></i> - F5
        <div>WIKI</div>
      </a>
    </div>
    <div class="col-md-1 col-sm-2 col-xs-6 pading-5">
      <a href="<%= news_sites_url %>" class="icon-btn <%= params[:controller] == 'news_sites' ? 'active' : '' %>">
        <i class="fa fa-internet-explorer"></i> - F5
        <div>TRANG TIN TỨC</div>
      </a>
    </div>
  </div>
</div>
<!--<script>-->
<!--  $(document).ready(function(){-->
<!--    $('.top-toolbar .icon-btn').click(function(){-->
<!--      $('.icon-btn').removeClass("active");-->
<!--      $(this).addClass("active");-->
<!--    });-->
<!--  });-->
<!--</script>-->