<%= form_with(model: coin_source, local: true) do |form| %>
  <% if coin_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin_source.errors.count, "error") %> prohibited this coin_source from being saved:</h2>

      <ul>
      <% coin_source.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :domain_slug %>
    <%= form.text_field :domain_slug %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website %>
  </div>

  <div class="field">
    <%= form.label :coin %>
    <%= form.text_field :coin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
