<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @coin_source.title %>
</p>

<p>
  <strong>Domain slug:</strong>
  <%= @coin_source.domain_slug %>
</p>

<p>
  <strong>Website:</strong>
  <%= @coin_source.website %>
</p>

<p>
  <strong>Coin:</strong>
  <%= @coin_source.coin %>
</p>

<%= link_to 'Edit', edit_coin_source_path(@coin_source) %> |
<%= link_to 'Back', coin_sources_path %>
