<%= form_with(model: currency_pair, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if currency_pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(currency_pair.errors.count, "error") %> prohibited this currency_pair from being saved:</h2>
      <ul>
        <% currency_pair.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id="name">Tên</span>
    <div class="col-sm-11">
      <%= form.text_field :name, autocomplete: "off", id: "name", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span for="title" class="col-sm-1 btn btn-primary nohover">
      Tử só
    </span>
    <div class="col-sm-4">
      <%= form.select :base_id, options_from_collection_for_select(Symbolfx.all, :id, :slug) ,
                      {}, { :class => 'form-control select2_category' } %>
    </div>
  </div>

  <div class="form-group">
    <span for="title" class="col-sm-1 btn btn-primary nohover">
      Mấu số
    </span>
    <div class="col-sm-4">
      <%= form.select :quote_id, options_from_collection_for_select(Symbolfx.all, :id, :slug) ,
                      {}, { :class => 'form-control select2_category' } %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id="slug">Viết tắt</span>
    <div class="col-sm-11">
      <%= form.text_field :slug, autocomplete: "off", id: "slug", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id=content">Theo dõi</span>
    <div class="col-sm-11">
      <%= form.check_box :is_follow %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id="quote">Tỉ lệ thắng %</span>
    <div class="col-sm-11">
      <%= form.number_field :winrate, autocomplete: "off", id: "winrate", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id="quote">Spread TB</span>
    <div class="col-sm-11">
      <%= form.number_field :spread, autocomplete: "off", id: "spread", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id="quote">Tính thanh khoản</span>
    <div class="col-sm-11">
      <%= form.text_field :liquid_rate, autocomplete: "off", id: "liquid_rate", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id="name">Cặp tiền liên quan</span>
    <div class="col-sm-11">
      <%= form.text_field :crosses_related, autocomplete: "off", id: "crosses_related", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span for="title" class="col-sm-1 btn btn-primary nohover">
      Tag
    </span>
    <div class="col-sm-4">
      <%= form.select :tag_id, options_for_select(nested_set_options(Tag) {|i| "#{'__'* (i.level.to_i).abs} #{i.slug.present? ? i.slug : 'root'}" }, currency_pair.id.present? ? currency_pair.tag.id : params[:parent]) ,
                      {}, { :class => 'form-control select2_category' } %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover">Tóm tắt</span>
    <div class="col-sm-11">
      <%= form.text_area :brief, class: "form-control input-md",  placeholder: true, id: "markdown" %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id=content">Nội dung</span>
    <div class="col-sm-11">
      <%= form.cktext_area :desciption, rows: 10, id: "editor1" %>
    </div>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-info">Lưu</button>
      </div>
    </div>
  </div>
<% end %>