<div class="tab-content">
  <% Tag.find_by(title: "Currency pair categories").children.each_with_index do |tag, index| %>
    <div class="caption">
        <span class="caption-subject font-red sbold uppercase"><%= tag.slug %></span>
        <%= tag.content&.html_safe %>
    </div>
    <div class="tab-pane active" id="tag_tab<%= tag.id %>">
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th></th>
            <th class="text-center">Tên</th>
            <th class="text-center">Winrate</th>
            <th class="text-center">Thanh khoản</th>
            <th class="text-center">Cặp tiền liên quan</th>
            <th class="text-center">Lưu ý</th>
            <th></th>
          </tr>
          </thead>
          <tbody class="item-container-<%= tag.id %>">
            <% tag.currency_pairs.each do |currency_pair| %>
              <tr class="item-<%= currency_pair.id %>">
                <td class="text-center <%= currency_pair.unfollow? ? 'active' : 'success'%>">
                  <a class="btn btn-circle btn-icon-only btn-default popovers" href="<%= edit_currency_pair_url(currency_pair) %>" data-container="body" data-trigger="hover" data-placement="top" data-content="Sửa"><i class="icon-pencil"></i></a>
                </td>
                <td class="text-center"><%= currency_pair.slug %></td>
                <td class="text-center"><%= currency_pair.winrate %></td>
                <td class="text-center"><%= currency_pair.liquid_rate %></td>
                <td class="text-center"><%= currency_pair.crosses_related %></td>
                <td class="text-center"><%= currency_pair.brief&.html_safe %></td>
                <td class="text-center">
                  <%= link_to raw('<i class="fa fa-trash-o"></i>'), currency_pair, method: :delete, data: {toggle: 'confirmation', placement: 'left', popout: false}, class: "btn red btn-circle btn-icon-only btn-default" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>