<div class="invoice-content-2 bordered">
  <div class="row invoice-head">
    <div class="col-md-7 col-xs-6">
      <div class="invoice-logo">
        <h1 class="uppercase"><%= @currency_pair.slug %><a class="btn btn-circle btn-icon-only btn-default popovers" href="<%= edit_currency_pair_url(@currency_pair) %>" data-container="body" data-trigger="hover" data-placement="top" data-content="Sửa"><i class="icon-pencil"></i></a></h1>
      </div>
    </div>
  </div>
  <div class="row invoice-cust-add">
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Tên</h2>
      <p class="invoice-desc"><%= @currency_pair.name %></p>
    </div>
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Tử số</h2>
      <p class="invoice-desc"><%= link_to @currency_pair.base.name , symbolfx_path(@currency_pair.base) %></p>
    </div>
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Mẫu số</h2>
      <p class="invoice-desc inv-address"><%= link_to @currency_pair.quote.name , symbolfx_path(@currency_pair.quote) %></p>
    </div>
    <div class="col-xs-3 invoice-subtotal">
      <h2 class="invoice-title uppercase">Winrate</h2>
      <p class="invoice-desc grand-total"><%= @currency_pair.winrate %>%</p>
    </div>
  </div>
  <div class="row invoice-body">
    <div class="col-xs-12 table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="invoice-title uppercase">Tóm tắt</th>
          <th class="invoice-title uppercase text-center">Thanh khoản</th>
          <th class="invoice-title uppercase text-center">Spread</th>
          <th class="invoice-title uppercase text-center">Cặp liên quan</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="post-article markdown">
            <%= markdown @currency_pair.brief&.html_safe %>
          </td>
          <td class="text-center sbold"><%= @currency_pair.winrate %></td>
          <td class="text-center sbold"><%= @currency_pair.spread %>point</td>
          <td class="text-center sbold"><%= @currency_pair.crosses_related %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
