<div class="invoice-content-2 bordered">
  <div class="row invoice-head">
    <div class="col-md-7 col-xs-6">
      <div class="invoice-logo">
        <h1 class="uppercase"><%= @currency_pair.slug %><a class="btn btn-circle btn-icon-only btn-default popovers" href="<%= edit_currency_pair_url(@currency_pair) %>" data-container="body" data-trigger="hover" data-placement="top" data-content="Sửa"><i class="icon-pencil"></i></a></h1>
      </div>
    </div>
  </div>
  <div class="row invoice-cust-add">
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Tên</h2>
      <p class="invoice-desc"><%= @currency_pair.name %></p>
    </div>
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Tử số</h2>
      <p class="invoice-desc"><%= link_to @currency_pair.base.name , symbolfx_path(@currency_pair.base) %></p>
    </div>
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Mẫu số</h2>
      <p class="invoice-desc inv-address"><%= link_to @currency_pair.quote.name , symbolfx_path(@currency_pair.quote) %></p>
    </div>
    <div class="col-xs-3 invoice-subtotal">
      <h2 class="invoice-title uppercase">Winrate</h2>
      <p class="invoice-desc grand-total"><%= @currency_pair.winrate %>%</p>
    </div>
  </div>
  <div class="row invoice-body">
    <div class="col-xs-12 table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th class="invoice-title uppercase">Tóm tắt</th>
          <th class="invoice-title uppercase text-center">Thanh khoản</th>
          <th class="invoice-title uppercase text-center">Spread</th>
          <th class="invoice-title uppercase text-center">Range(tháng)</th>
          <th class="invoice-title uppercase text-center">Cặp liên quan</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="post-article markdown">
            <%= markdown @currency_pair.brief&.html_safe %>
          </td>
          <td class="text-center sbold"><%= @currency_pair.winrate %></td>
          <td class="text-center sbold"><%= @currency_pair.spread %>point</td>
          <td class="text-center sbold"><%= @currency_pair.range %>point</td>
          <td class="text-center sbold"><%= @currency_pair.crosses_related %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="profile-content">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered">
          <div class="portlet-title tabbable-line">
            <div class="caption caption-md">
              <ul class="nav nav-tabs">
                <li class='active'>
                  <a href="<%= "#tab-1" %>" data-toggle="tab" aria-expanded="false"><strong>Miêu tả</strong></a>
                </li>
                <li>
                  <a href="<%= "#tab-2" %>" data-toggle="tab" aria-expanded="false"><strong>TimeFame</strong></a>
                </li>
                <li>
                  <a href="<%= "#tab-3" %>" data-toggle="tab" aria-expanded="false"><strong>Cách chơi</strong></a>
                </li>
              </ul>
            </div>
            <div class="portlet-body">
              <div class="tab-content">
                <div class="tab-pane active" id="tab-1">
                  <div class="col-md-12" style="padding: 0px;">
                    <%= @currency_pair.desciption.html_safe %>
                  </div>
                </div>
                <div class="tab-pane" id="tab-2">
                  <div class="col-md-12" style="padding: 0px;">

                  </div>
                </div>
                <div class="tab-pane" id="tab-3">
                  <div class="col-md-12" style="padding: 0px;">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <!-- BEGIN PORTLET-->
              <div class="portlet light bordered">
                <div class="portlet-title">
                  <div class="caption">
                    <i class="icon-bubble font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase">Nhật kí</span>
                  </div>
                  <div class="actions">
                    <div class="portlet-input input-inline">
                      <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control input-circle" placeholder="search..."> </div>
                    </div>
                  </div>
                </div>
                <div class="portlet-body" id="chats">
                  <div>
                    <ul class="chats">
                      <% @comments.each do |comment| %>
                        <% if comment.importand? %>
                          <li class="out">
                            <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar2.jpg">
                            <div class="message">
                              <span class="arrow"> </span>
                              <a href="javascript:;" class="name">Lưu ý quan trọng</a>
                              <span class="datetime"> at <%= comment.created_at.strftime("%d/%m/%Y %H:%M") %> </span>
                              <span class="body"> <%= markdown comment.content&.html_safe %> </span>
                            </div>
                          </li>
                        <% else %>
                          <li class="in">
                            <img class="avatar" alt="" src="../assets/layouts/layout/img/avatar1.jpg">
                            <div class="message">
                              <span class="arrow"> </span>
                              <a href="javascript:;" class="name">Lưu ý</a>
                              <span class="datetime"> at <%= comment.created_at.strftime("%d/%m/%Y %H:%M") %> </span>
                              <span class="body"> <%= markdown comment.content&.html_safe %> </span>
                            </div>
                          </li>
                        <% end %>
                      <% end %>
                    </ul>
                  </div></div>
                  <div class="chat-form">
                    <%= form_for Comment.new, method: :post do |form| %>
                      <div class="input-cont">
                        <%= form.text_area :content, class: "form-control input-md",  placeholder: true, id: "markdown" %>
                        <span>Theo dõi</span>
                        <%= form.check_box :is_importand, checked: form.object.importand? ? "checked" : "" %>
                        <%= form.hidden_field :commmentable, value: @currency_pair.class %>
                        <%= form.hidden_field :commmentable_id, value: @currency_pair.id %>
                      <div class="btn-cont">
                        <span class="arrow"> </span>
                        <button type="submit" class="btn btn-info">Lưu</button>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>