<div class="table-scrollable">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th></th>
      <th class="text-center">stt</th>
      <th class="text-center">Ngày</th>
      <th class="text-center">Cặp tiên</th>
      <th class="text-center">Kêt quả</th>
      <th class="text-center">Lãi/Lỗ</th>
      <th class="text-center">Ghi chú</th>
      <th class="text-center">Đánh giá</th>
      <th></th>
    </tr>
    </thead>

    <tbody class="item-container">
      <% logs.each_with_index do |f,index| %>
        <tr>
          <td class="text-center">
          <a class="btn btn-circle btn-icon-only btn-default popovers" data-remote="true" href="<%= edit_log_path(f) %>" data-container="body" data-trigger="hover" data-placement="top" data-content="Edit"><i class="icon-pencil"></i></a>
          </td>
          <td class="text-center"><%= index + 1  %></td>
          <td class="text-center"><%= format_date_ddMMyyyHHmm f.datetime, "%H:%M" %></td>
          <td class="text-center"><%= f.trade.currency_pair.slug %></td>
          <td class="text-center"><%= format_log_status f.status %></td>
          <td class="text-center"><%= format_money_with_fund f.money.to_i %></td>
          <td class="text-center"><%= f.note %></td>
          <td class="text-center"><%= f.rating %></td>
          <td class="text-center">
            <%= link_to raw('<i class="fa eye"></i>'), '#', class: "btn btn-circle btn-icon-only btn-default" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-md-6">
    <%= will_paginate logs %>
  </div>
  <div class="col-md-6 margin-top-8 text-right">
    <%= page_entries_info logs %>
  </div>
</div>
