<%= form_with(model: tag, local: true, role: "form", html: {class: 'form-horizontal'}) do |form| %>
  <div class="form-body">
    <div class="form-body">
      <% if tag.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>
          <ul>
          <% tag.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <span for="title" class="col-sm-1 btn btn-primary nohover">
          Tag
        </span>
        <div class="col-sm-4">
          <%= select_tag 'parent', options_for_select(nested_set_options(Tag) {|i| "#{'__'* (i.level.to_i).abs} #{i.slug.present? ? i.slug : 'root'}" }, @tag.id.present? ? @tag.parent_id : params[:parent]) , { :class => 'form-control select2_category' }%>
        </div>
      </div>

      <div class="form-group">
        <span class="col-sm-1 btn btn-primary nohover" id="title">Tên</span>
        <div class="col-sm-11">
          <%= form.text_field :title, autocomplete: "off", id: "title", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <span class="col-sm-1 btn btn-primary nohover" id="slug">Tên hiển thị</span>
        <div class="col-sm-11">
          <%= form.text_field :slug, autocomplete: "off", id: "slug", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <span class="col-sm-1 btn btn-primary nohover" id=content">Theo dõi</span>
        <div class="col-sm-11">
          <%= form.check_box :is_follow %>
        </div>
      </div>

      <div class="form-group">
        <span class="col-sm-1 btn btn-primary nohover" id=content">Nội dung</span>
        <div class="col-sm-11">
          <%= form.text_area :content, class: "ckeditor form-control", rows: 10 %>
        </div>
      </div>

      <div class="form-actions">
        <div style="text-align: center">
            <button type="submit" class="col-sm-1 btn btn-info">Lưu</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
