<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.title %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @tag.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.content %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
