<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @tag.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.description %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
