<%= form_with(model: wiki, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id="title">Tiêu đề</span>
    <div class="col-sm-11">
      <%= form.text_field :title, autocomplete: "off", id: "title", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span for="intro_image" class="col-sm-1 btn btn-primary nohover long-text">
      Hình ảnh
    </span>
    <div class="col-sm-11">
      <div class="image-preview">
        <% if form.object.image? %>
          <%= image_tag form.object.image.thumb.url %>
          <%= form.label :remove_image %>
          <%= form.check_box :remove_image %> 
        <% end %>
      </div>
    </div>
    <div class="col-sm-11 col-sm-offset-1">
      <%= form.file_field :image, class: "edit-img btn btn-default" %>
    </div>
  </div>

  <div class="form-group">
    <span for="title" class="col-sm-1 btn btn-primary nohover">
      Tag
    </span>
    <div class="col-sm-4">
      <%= form.select :tag_id, options_for_select(Tag.find_by(title: 'Wiki categories').descendants.map{|s|[s.title, s.id]}),
        {}, { :class => 'form-control select2_category' } %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover">Tóm tắt</span>
    <div class="col-sm-11">
      <%= form.text_area :brief, rows: 1, class: "form-control", id: "markdown", style: "height: 100px" %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id=content">Nội dung</span>
    <div class="col-sm-11">
      <%= form.text_area :content, class: "ckeditor form-control", rows: 10 %>
    </div>
  </div>

  <div class="form-actions">
      <div class="row">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-info">Lưu</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
