<div class="tab-content">
  <% tags.each_with_index do |tag, index| %>
    <div class="tab-pane <%= index == 0 ? 'active' : ''%>" id="<%= "tab-#{ tag.id }" %>">
      <div class="col-md-12" style="padding: 0px;">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box <%= random_color index %>">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-gift"></i>Notes...</div>
            <div class="tools">
              <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
              <a href="" class="fullscreen" data-original-title="" title=""> </a>
            </div>
            <div class="actions">
              <a href="<%= new_tag_path(parent: tag.id) %>" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> Tag </a>
              <a href="<%= new_wiki_path(parent: tag.id, root_tag: tag.id) %>" class="btn btn-default btn-sm">
                <i class="fa fa-plus"></i> Wiki </a>
              <a href="<%= edit_tag_path(id: tag.id, root_tag: tag.id) %>" class="btn btn-default btn-sm">
                <i class="fa fa-pencil"></i> Sửa </a>
            </div>
          </div>
          <div class="portlet-body" style="overflow: auto; display: <%= tag.followed? ? 'block' : 'none' %>;">
            <%= tag.content&.html_safe %>
            <% if tag.children.present? %>
              <div class="col-md-12" style="padding-left: 0px">
                <% tag.children.each_with_index do |child_tag, idx| %>
                  <div class="portlet box <%= random_color(idx + 1) %>">
                    <div class="portlet-title">
                      <div class="caption" style="width: 75%; overflow: hidden;"><%= child_tag.slug %></div>
                      <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                        <a href="" class="fullscreen" data-original-title="" title=""> </a>
                      </div>
                      <div class="actions">
                        <a href="<%= new_wiki_path(parent: child_tag.id, root_tag: tag.id) %>" class="btn btn-default btn-sm">
                          <i class="fa fa-plus"></i> Wiki </a>
<!--                        <a href="javacript:;"  class="btn btn-default btn-sm fast-wiki">-->
<!--                          <i class="fa fa-plus"></i> Wiki </a>-->
                        <a href="<%= edit_tag_path(id: child_tag.id, root_tag: tag.id) %>" class="btn btn-default btn-sm">
                          <i class="fa fa-pencil"></i> Sửa </a>
                      </div>
                    </div>
                    <div class="portlet-body">
                      <%= child_tag.content&.html_safe %>
                      <%= render 'single_wiki_row', wikis: child_tag.wikis, color: random_color(idx + 1), root_tag: tag %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
            <%= render 'single_wiki_row', wikis: tag.wikis, color: 'blue-steel', root_tag: tag %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $('.fast-wiki').on('click', function (e) {
      e.preventDefault();
      var hihi = "<%= j(render partial: 'fast_form', layout: 'shared/modal', locals: { type: "new", wiki: Wiki.new , params: {parent: " + '1' + "} }) %>"
      $("#main-modal").html(hihi);
      $("#main-modal").modal("show")
    })
  });
</script>