<% tags = params[:wiki_type].to_i == 0 ?  Tag.find_by(title: 'Forex') : Tag.find_by(title: 'Crypto') %>
<% Wiki.market_types.each do |mt| %>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id=<%= "inlineRadio#{mt[1]}" %>% value=<%= mt[1] %>>
    <label class="form-check-label" for="inlineRadio1"><%= mt[0] %></label>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="caption">
        <%= render 'wiki_index_tabs', tags: tags&.children %>
      </div>
      <div class="portlet-body">
        <%= render 'wiki_index_content', tags: tags&.children %>
      </div>
    </div>
  </div>
</div>
<hr>
