<% tags = params[:wiki_type].to_i == 0 ?  Tag.find_by(title: 'Forex') : Tag.find_by(title: 'Crypto') %>

<div class="profile-content">
  <div class="btn-group btn-group-circle">
    <a href="<%= wikis_path(wiki_type: 0) %>" class="btn grey-salsa btn-sm <%= params[:wiki_type].to_i == 0 ? 'active' : ''%>"> Forex </a>
    <a href="<%= wikis_path(wiki_type: 1) %>" class="btn grey-salsa btn-sm <%= params[:wiki_type].to_i == 1 ? 'active' : ''%>">  Crypto</a>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="portlet light bordered">
        <div class="portlet-title tabbable-line">
          <div class="caption caption-md">
            <%= render 'wiki_index_tabs', tags: tags&.children %>
          </div>
          <div class="portlet-body">
            <%= render 'wiki_index_content', tags: tags&.children %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
