<p id="notice"><%= notice %></p>
<div class="row">
  <%= link_to 'New Wiki', new_wiki_path %>

  <div class="col-md-12">
    <% @wikis.each do |wiki| %>
      <div>
        <h2>
          <%= link_to wiki.title, wiki_path(wiki) %>
        </h2>
        <p>
          <span class="glyphicon glyphicon-time"></span>&nbsp<%= new.created_at.strftime("%m/%d/%Y %I:%M") %>
        </p>

        <hr>
        <p><strong><%= raw(wiki.brief) %></strong></p>
      </div>
    <% end %>
      <!-- Pager -->
    <%= will_paginate @wikis, previous_label: "trở lại", next_label: "tiếp theo", class: 'pull-right' %>

  </div>
</div>
<hr>
