<div class="portlet box <%= random_color %> portlet-fullscreen" style="background-color: white;">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i><%= @wiki.title %>
    </div>
    <div class="actions">
      <a href="<%= edit_wiki_path(id: @wiki.id) %>" class="btn btn-default btn-sm">
        <i class="fa fa-pencil"></i>  </a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="span4" style="overflow: auto;">
      <% if @wiki.image.present? %>
        <%= image_tag @wiki.image.url, class: "img-right" %>
      <% end %>
      <div class="post-article markdown">
        <%= markdown @wiki.brief.html_safe %>
      </div>
    </div>
    <div class="wiki-content">
      <%= @wiki.content.html_safe %>
    </div>
  </div>
</div>