<%= form_with(model: news_site, local: true, html: {class: "form-horizontal"}) do |form| %>
  <% if news_site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news_site.errors.count, "error") %> prohibited this news_site from being saved:</h2>
      <ul>
      <% news_site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <span class="col-sm-4 nohover" id="domain">Domain</span>
    <div class="col-sm-11">
      <%= form.text_field :domain, autocomplete: "off", id: "domain", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <span for="title" class="col-sm-4 nohover">
      Tag
    </span>
    <div class="col-sm-4">
      <%= form.select :tag_id, options_for_select(nested_set_options(Tag) {|i| "#{'__'* (i.level.to_i).abs} #{i.slug.present? ? i.slug : 'root'}" }, news_site.id.present? ? news_site.tag.parent_id : params[:tag]) ,
        {}, { :class => 'form-control select2_category' } %>
    </div>
  </div>

  <div class="form-group">
    <span class="col-sm-4 nohover">Tóm tắt</span>
    <div class="col-sm-11">
      <%= form.text_area :description, class: "form-control input-md",  placeholder: true, id: "markdown" %>
    </div>
  </div>

  <div class="form-actions">
      <div class="row">
        <div class="col-sm-2">
          <button type="submit" class="btn btn-info">Lưu</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
