<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rule.name %>
</p>

<p>
  <strong>Rule type:</strong>
  <%= @rule.rule_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @rule.content %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
