
<div class="row">
  <div class="col-lg-12">
    <table class="table table-bordered table-striped table-responsive">
      <thead>
      <tr>
        <th class="text-center">Tên</th>
        <td class="text-center">Loại</td>
        <td class="text-center">Trang thái</td>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% plans.each_with_index do |f,index| %>
          <tr>
            <td class="text-center"><%= link_to  f.title, [f] %></td>
            <td class="text-center"><%= f.category %></td>
            <td class="text-center"><%= f.status %></td>
            <td>
              <%= link_to 'Sửa', edit_plan_path(f) %>
              &nbsp &nbsp &nbsp
              <%= link_to 'Xóa', f, method: :delete,
                data: {confirm: 'Xóa nhé!'},
                remote: :true, class: "destroy-recipe"%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'New plan', new_plan_path %>