<div class="tab-content">
  <% Tag.find_by(title: "Symbol categories").children.each_with_index do |tag, index| %>
    <%= tag.slug %>
    <div class="tab-pane active" id="tag_tab<%= tag.id %>">
      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th></th>
            <th class="text-center">Kí hiệu</th>
            <th class="text-center">Tên</th>
            <th class="text-center">Quốc gia</th>
            <th class="text-center">Ngân hàng</th>
            <th class="text-center">Ghi chú</th>
            <th></th>
          </tr>
          </thead>
          <tbody class="item-container-<%= tag.id %>">
            <% tag.symbolfxes.each do |symbolfx| %>
              <tr class="item-<%= symbolfx.id %>">
                <td class="text-center">
                  <a class="btn btn-circle btn-icon-only btn-default popovers" href="<%= edit_symbolfx_url(symbolfx) %>" data-container="body" data-trigger="hover" data-placement="top" data-content="Sửa"><i class="icon-pencil"></i></a>
                </td>
                <td class="text-center"><%= link_to symbolfx.slug, symbolfx_path(symbolfx) %></td>
                <td class="text-center"><%= symbolfx.name %></td>
                <td class="text-center"><%= symbolfx.country %></td>
                <td class="text-center"><%= symbolfx.country %></td>
                <td class="text-center"><%= symbolfx.brief&.html_safe %></td>
                <td class="text-center">
                  <%= link_to raw('<i class="fa fa-trash-o"></i>'), symbolfx, method: :delete, data: {toggle: 'confirmation', placement: 'left', popout: false}, class: "btn red btn-circle btn-icon-only btn-default" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
