<%= form_with(model: coin_link, local: true) do |form| %>
  <% if coin_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin_link.errors.count, "error") %> prohibited this coin_link from being saved:</h2>

      <ul>
      <% coin_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.text_field :kind %>
  </div>

  <div class="field">
    <%= form.label :coin %>
    <%= form.text_field :coin %>
  </div>

  <div class="actions">
    <%= form.submit "Thực hiện", class: "btn btn-default" %>
  </div>
<% end %>
