

<h1>Coin Links</h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Kind</th>
      <th>Coin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coin_links.each do |coin_link| %>
      <tr>
        <td><%= coin_link.url %></td>
        <td><%= coin_link.kind %></td>
        <td><%= coin_link.coin %></td>
        <td><%= link_to 'Show', coin_link %></td>
        <td><%= link_to 'Edit', edit_coin_link_path(coin_link) %></td>
        <td><%= link_to 'Destroy', coin_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coin Link', new_coin_link_path %>
