<%= form_with(model: @trade, local: true, :html => {class: 'form-horizontal', id: 'closeForm'}) do |f| %>
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="display: none;  ">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#infoPanel" role="tab">DMM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#reviewPanel" role="tab">CC</a>
    </li>
  </ul>
  <div class="tab-content mt-2">
    <div class="tab-pane fade active" id="infoPanel" role="tabpanel">
      <% date = @trade.end_date&.strftime("%d/%m/%Y") || Time.now.strftime("%d/%m/%Y") %>
      <% date = @trade.end_date&.strftime("%d/%m/%Y") || Time.now.strftime("%d/%m/%Y") %>
      <% rate = @trade.log&.rating || 1 %>

      <% if @trade.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>
          <ul>
            <% @trade.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :status, value: 'close' %>
      <br>
      <br>
      <%= f.fields_for :log do |ff| %>
        <%= ff.hidden_field :rating, value: rate %>
        <section class='rating-widget'>
          <!-- Rating Stars Box -->
          <div class='rating-stars text-center'>
            <ul id='stars'>
              <li class='star' title='Poor' data-value='1'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star' title='Fair' data-value='2'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star' title='Good' data-value='3'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star' title='Excellent' data-value='4'>
                <i class='fa fa-star fa-fw'></i>
              </li>
              <li class='star' title='WOW!!!' data-value='5'>
                <i class='fa fa-star fa-fw'></i>
              </li>
            </ul>
          </div>
          <div class='success-box'>
            <div class='clearfix'></div>
            <div class='text-message'></div>
            <div class='clearfix'></div>
          </div>
        </section>
      <% end %>
      <br>
      <br>
      <div class="form-group form-md-line-input">
        <label class="col-md-2 control-label">Ngày kết thúc</label>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <%= f.text_field :end_date, as: :datepicker, class: 'form-control date-picker', id: "endDate", placeholder: "dd/mm/yyyy", 'data-date-format': 'dd/mm/yyyy', value: date %>
            </div>
          </div>
        </div>
        <%= f.fields_for :trade_normal_method do |fff| %>
          <label class="col-md-2 control-label">Điểm ra
            <span class="required" aria-required="true"> * </span> :</label>
          <div class="col-md-4">
            <%= fff.number_field :point_out, as: :string, class: 'form-control', placeholder: 'Nhập điểm ra' %>
            <div class="form-control-focus"></div>
          </div>
        <% end %>
      </div>

      <%= f.fields_for :log do |ff| %>
        <%= ff.hidden_field :datetime, value: date %>
        <%= ff.hidden_field :money %>
        <%= ff.hidden_field :fee %>
        <%= ff.hidden_field :result %>
        <%= ff.hidden_field :status %>
        <div class="form-group form-md-line-input">
          <label class="col-md-2 control-label">Ghi chú: </label>
          <div class="col-md-10">
            <%= ff.text_area :note, as: :text, class: 'bg-maxlength form-control autosizeme', placeholder: "Nhập mô tả", maxlength: 500 %>
          </div>
        </div>
      <% end %>

      <div class="form-actions margin-top-10">
        <div class="row">
          <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="show-main-modal">
              <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>Hủy
            </button>
            <%= f.button :button, class: 'btn green', id: "infoContinue" do %>
              <i class="fa fa-floppy-o" aria-hidden="true"></i>Kết quả
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="reviewPanel" role="tabpanel" style="text-align: center;">
      <div class="mt-element-step">
        <div id="review-icon" class="row step-no-background">
          <% if @trade_method.point_out.present? && @trade_method.point_entry > @trade_method.point_out %>
            <span style='font-size:100px;'>&#128546;</span>
            <div class="mt-step-col error">
              <div class="mt-step-title uppercase font-grey-cascade">- <%= @trade.log&.money %> Usdt (<%= @trade.log&.result %>%)</div>
              <div class="mt-step-content font-grey-cascade">fee: <%= @trade.log&.fee %> Usdt</div>
            </div>
          <% else %>
            <span style='font-size:100px;'>&#128512;</span>
            <div class="mt-step-col done">
              <div class="mt-step-title uppercase font-grey-cascade">+ <%= @trade.log&.money %> Usdt (<%= @trade.log&.result %> %)</div>
              <div class="mt-step-content font-grey-cascade">fee: <%= @trade.log&.fee %> Usdt</div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="form-actions margin-top-10">
        <div class="row">
          <div class="col-md-12 text-right">
            <%= f.button :button, class: 'btn btn-danger btn-block', id: "close-trade" do %>
              <i class="fa fa-floppy-o" aria-hidden="true"></i>Kết thúc giao dich
            <% end %>
            <button class="btn btn-default btn-block" id="activate">Quay Lại</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
  $(document).ready(function () {
    $("#close-trade").on('click', function(e){
      e.preventDefault();
      $('#closeForm').ajaxSubmit();
    })
    $('#myTab a[href="#infoPanel"]').tab('show');
    $("#show-main-modal").click(function () {
      $("#main-modal").modal("show");
    });

    $('#trade_trade_normal_method_attributes_point_out').change(function () {
      var entry = parseFloat(<%= @trade_method.point_entry %>);
      var out = parseFloat($('#trade_trade_normal_method_attributes_point_out').val());
      var amount = parseFloat(<%= @trade_method.amount %>);
      var fund = parseFloat(<%= Fund.first.present_value %>);

      var fee = ((entry + out)*amount*0.00075).toFixed(2)
      var total = Math.abs((out - entry)*amount).toFixed(2);
      var fund_percent = (total*100/fund).toFixed(2)

      $('#trade_log_attributes_money').val(total)
      $('#trade_log_attributes_fee').val(fee)
      $('#trade_log_attributes_result').val(fund_percent)

      if(entry > out) {
        $('#trade_log_attributes_status').val('loss')
        var html = '<span style=\'font-size:100px;\'>&#128546;</span><div class="mt-step-col error"><div class="mt-step-title uppercase font-grey-cascade">'  + '- ' + total + ' Usdt' + '(' + fund_percent + '% )</div> <div class="mt-step-content font-grey-cascade">fee: ' + fee + ' Usdt</div></div>'
        $('#review-icon').html(html)
      }else{
        $('#trade_log_attributes_status').val('interest')
        var html = '<span style=\'font-size:100px;\'>&#128512;</span><div class="mt-step-col done"><div class="mt-step-title font-grey-cascade">'  + '+ ' + total + ' Usdt ' + '( ' + fund_percent + '% )</div> <div class="mt-step-content font-grey-cascade">fee: ' + fee + ' Usdt</div></div>'
        $('#review-icon').html(html)
      }
    });

    /* 1. Visualizing things on Hover - See next part for action on click */
    $('#stars li').on('mouseover', function(){
      var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
      var msg = "";
      if (onStar == 1) {
          msg = "Óc chó!";
      } else if (onStar == 2) {
          msg = "Tạm";
      } else if (onStar == 3) {
          msg = "Hài lòng!";
      } else if (onStar == 4) {
          msg = "Ngon!";
      } else if (onStar == 5) {
          msg = "Thiên tài cmnr!";
      }
     
      responseMessage(msg);

      // Now highlight all the stars that's not after the current hovered star
      $(this).parent().children('li.star').each(function(e){
        if (e < onStar) {
          $(this).addClass('hover');
        }
        else {
          $(this).removeClass('hover');
        }
      });
      
    }).on('mouseout', function(){
      $(this).parent().children('li.star').each(function(e){
        $(this).removeClass('hover');
      });
    });
    
    
    /* 2. Action to perform on click */
    $('#stars li').on('click', function(){
      var onStar = parseInt($(this).data('value'), 10); // The star currently selected
      var stars = $(this).parent().children('li.star');
      
      for (i = 0; i < stars.length; i++) {
        $(stars[i]).removeClass('selected');
      }
      
      for (i = 0; i < onStar; i++) {
        $(stars[i]).addClass('selected');
      }
      
      // JUST RESPONSE (Not needed)
      var ratingValue = parseInt($('#stars li.selected').last().data('value'), 10);
      var msg = "";

      $('#trade_log_attributes_rating').val(ratingValue);

      if (ratingValue == 1) {
          msg = "Óc chó!";
      } else if (ratingValue == 2) {
          msg = "Tạm";
      } else if (ratingValue == 3) {
          msg = "Hài lòng!";
      } else if (ratingValue == 4) {
          msg = "Ngon!";
      } else if (ratingValue == 5) {
          msg = "Thiên tài cmnr!";
      }
      responseMessage(msg);
    });

    $('#infoContinue').click(function (e) {
      e.preventDefault();
      if($('#trade_trade_normal_method_attributes_point_out').val() != ''){
        $('#myTab a[href="#reviewPanel"]').tab('show');
      }
    });

    $('#reviewPanel').click(function (e) {
      e.preventDefault();
      $('#myTab a[href="#infoPanel"]').tab('show');
    });
    
    
  });

  function responseMessage(msg) {
    $('.success-box').fadeIn(200);  
    $('.success-box div.text-message').html("<span>" + msg + "</span>");
  }
</script>