<%= form_with(model: trade, local: true) do |form| %>
  <% if trade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

      <ul>
      <% trade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :coin_id %>
    <%= form.collection_select(:coin_id, Coin.all, :id, :slug, {}, {class: "form-control"}) %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :reason %>
    <%= form.text_area :reason, class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit "Thực hiện", class: "btn btn-default" %>
  </div>
<% end %>
