<%= form_with(model: @trade, remote: true, :html => {class: 'form-horizontal'}) do |f| %>
    <% if @trade.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

        <ul>
        <% @trade.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label">Coin
        <span class="required" aria-required="true"> * </span> :</label>
      <div class="col-md-4">
        <%= f.collection_select(:coin_id, Coin.all, :id, :slug, {}, {class: "form-control"}) %>
      </div>
      <label class="col-md-2 control-label">Ngày bắt đầu</label>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <% date = @trade.start_date&.strftime("%d/%m/%Y") || Time.now.strftime("%d/%m/%Y") %>
            <%= f.text_field :start_date, as: :datepicker, class: 'form-control date-picker', id: "startDate", placeholder: "dd/mm/yyyy", 'data-date-format': 'dd/mm/yyyy', value: date %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group form-md-line-input">
      <label class="col-md-2 control-label">Phản hồi: </label>
      <div class="col-md-10">
        <%= f.text_area :reason, as: :text, class: 'bg-maxlength form-control autosizeme', placeholder: "Nhập mô tả", maxlength: 500 %>
      </div>
    </div>

    <div class="tabbable-line">
      <ul class="nav nav-tabs ">
        <li class="active">
          <a href="#tab1" data-toggle="tab"><%= t(:agreement_renter_tab) %></a>
        </li>
        <li>
          <a href="#tab2" data-toggle="tab"><%= t(:agreement_service_tab) %></a>
        </li>
        <li class="last-tab">
          <a data-remote="true" href="#" class="btn btn-circle btn-icon-only green">
            <i class="fa fa-plus"></i>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <!-- render 'subform_renter' -->
        </div>
        <div class="tab-pane" id="tab2">
          <!-- render 'subform_service' -->
        </div>
      </div>
    </div>

  <div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">Hình thức thay đổi:</label>
    <div class="col-md-10">
      <div class="md-radio-inline">
        <div class="md-radio">
          <input type="radio" id="radio1" name="trade[status]" class="md-radiobtn" value="profit"  <%= f.object.status == "profit" ? "checked=\"checked\"" : "" %>>
          <label for="radio1">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>Nháp</label>
        </div>
        <div class="md-radio">
          <input type="radio" id="radio2" name="trade[status]" class="md-radiobtn" value="loss" <%= f.object.status == "loss" ? "checked=\"checked\"" : "" %>>
          <label for="radio2">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>Start giao dịch</label>
        </div>
        <div class="md-radio">
          <input type="radio" id="radio3" name="trade[status]" class="md-radiobtn" value="deposit" <%= f.object.status == "deposit" ? "checked=\"checked\"" : "" %>>
          <label for="radio3">
            <span></span>
            <span class="check"></span>
            <span class="box"></span>Đóng giao dịch</label>
        </div>
      </div>
      <div class="form-control-focus"></div>
    </div>
  </div>

    <div class="form-actions margin-top-10">
      <div class="row">
        <div class="col-md-9">
          <span class="font-red-flamingo" id="error-people-in-room"></span>
        </div>
        <div class="col-md-3 text-right">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="show-main-modal">
            <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Hủy
          </button>
          <%= f.button :button, class: 'btn green' do %>
              <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu lại
          <% end %>
        </div>
      </div>
    </div>
<% end %>
<script>
    $(document).ready(function () {
        $("#show-main-modal").click(function () {
            $("#main-modal").modal("show");
        });
        $("#building_agreement").change(function () {
            $.ajax({
                type: "GET",
                url: '/admin/rooms.json?building_id=' + $("#building_agreement").val() + '&is_agreement=1&last_room=' + $("#last_room").val(),
                data: JSON.stringify({
                    building_id: $("#building_agreement").val(),
                    is_agreement: 1,
                    last_room: $("#last_room").val()
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: success,
                error: error
            });
            function success(data, status) {
                $("#room_agreement").html("");
                $("#room_agreement").append("<option value='0'>-- Chọn phòng trọ --</option>");
                data.forEach(appendOption)
            }
            function appendOption(item, index, arr) {
                var htmlOption = "<option value=" + item.id + ">" + item.name + " - " + item.amount + " - " + room_type(item.room_type) + " - " + format_money(item.cost) + "</option>"
                $("#room_agreement").append(htmlOption);
            }
            function error() {
                console.log('Lỗi lấy dữ liệu phòng theo tòa nhà');
            }
            function room_type(type) {
                if (type == 0) {
                    return "ĐƠN";
                }
                else if (type == 1) {
                    return "KTX";
                }
            }
            function room_type(type) {
                if (type == 0) {
                    return "ĐƠN";
                }
                else if (type == 1) {
                    return "KTX";
                }
            }
        });
        function format_money(cost, has_unit = true) {
            var price = cost.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1.");
            if (cost.toString() != '') {
                if (has_unit) {
                    price = price + ' VNĐ';
                }
                else {
                    price = price;
                }
            }
            return price;
        }
        $("#room_agreement").change(function () {
            caculatePrePayment();
        });
        $("#month_pre_payment").change(function () {
            caculatePrePayment();
        });
        function caculatePrePayment() {
            var room_name = $("#room_agreement option:selected").text();
            if (room_name.indexOf(" - ") > 0) {
                var strs = room_name.split(" - ");
                if (strs.length == 4) {
                    var month = $("#month_pre_payment").val();
                    var money = parseInt(month) * parseInt(strs[3].replace(/\./g, ''));
                    $('#pre_payment').val(format_money(money, false));
                }
                else {
                    $('#pre_payment').val(0);
                }
            }
            else {
                $('#pre_payment').val(0);
            }
        }
        $("#startDate, #durationMonth").change(function () {
            // console.log("event ok");
            var durationMonth = $('#durationMonth').val();
            if (durationMonth != "") {
                // console.log("null ok");
                var startDate = $('#startDate').val();
                var dt1 = parseInt(startDate.substring(0, 2));
                // console.log(dt1);
                var mon1 = parseInt(startDate.substring(3, 5)) - 1;
                // console.log(mon1);
                var yr1 = parseInt(startDate.substring(6, 10));
                // console.log(yr1);
                var time = new Date(yr1, mon1, dt1);
                time.setMonth(time.getMonth() + parseInt(durationMonth));
                var endDate = time.getDate() + "/" + (time.getMonth() + 1) + "/" + time.getFullYear();
                // console.log(endDate);
                $("#endDate").val(endDate);
            } else {
                $("#endDate").val("");
            }
            ;
        });
    });
</script>































<% if false %>
  <%= form_with(model: trade, local: true) do |form| %>
    <% if trade.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>

        <ul>
        <% trade.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :coin_id %>
      <%= form.collection_select(:coin_id, Coin.all, :id, :slug, {}, {class: "form-control"}) %>
    </div>

    <div class="field">
      <%= form.label :status %>
      <%= form.number_field :status, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :start_date %>
      <%= form.datetime_select :start_date, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :end_date %>
      <%= form.datetime_select :end_date, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :reason %>
      <%= form.text_area :reason, class: "form-control" %>
    </div>

    <h4>Phương pháp thường</h4>
    <%= form.fields_for :trade_normal_method do |f| %>
      <div class="field">
        <%= f.label :point_entry %>
        <%= f.text_field :point_entry, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :point_out %>
        <%= f.text_field :point_out , class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :stop_loss %>
        <%= f.text_field :stop_loss, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :take_profit %>
        <%= f.text_field :take_profit, class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :tag %>
        <%= f.collection_select(:trade_id, Trade.all, :id, :coin, {}, {class: "form-control"}) %>
      </div>
    <% end %>

    <div class="actions">
      <%= form.submit "Thực hiện", class: "btn btn-default" %>
    </div>
  <% end %>
<% end %>
