<%= f.fields_for :trade_normal_method do |ff| %>
  <div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">Điểm vào
      <span class="required" aria-required="true"> * </span> :</label>
    <div class="col-md-4">
      <%= ff.number_field :point_entry, as: :string, class: 'form-control number-format', placeholder: 'Nhập điểm entry' %>
      <div class="form-control-focus"></div>
    </div>
    <label class="col-md-2 control-label">Mục tiêu (%)
      <span class="required" aria-required="true"> * </span> :</label>
    <div class="col-md-4">
      <%= ff.number_field :target, as: :string, class: 'form-control number-format', placeholder: '% lợi nhuận' %>
      <div class="form-control-focus"></div>
    </div>
  </div>

  <div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">Dừng lãi
      <span class="required" aria-required="true"> * </span> :</label>
    <div class="col-md-2">
      <%= ff.number_field :take_profit, as: :string, class: 'form-control number-format' %>
      <div class="form-control-focus"></div>
    </div>
    <label class="col-md-2 control-label">Dừng lỗ
      <span class="required" aria-required="true"> * </span> :</label>
    <div class="col-md-2">
      <%= ff.number_field :stop_loss, as: :string, class: 'form-control number-format' %>
      <div class="form-control-focus"></div>
    </div>
    <label class="col-md-2 control-label">Phí (Usdt)
      <span class="required" aria-required="true"> * </span> :</label>
    <div class="col-md-2">
      <%= ff.number_field :fee, as: :string, class: 'form-control number-format' %>
      <div class="form-control-focus"></div>
    </div>
  </div>
<% end %>
