<%= f.fields_for :trade_normal_method do |ff| %>
  <div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">Điểm vào
      <span class="required" aria-required="true"> * </span> :</label>
    <div class="col-md-4">
      <%= ff.number_field :point_entry, as: :string, class: 'form-control', placeholder: 'Nhập điểm entry' %>
      <div class="form-control-focus"></div>
    </div>
    <label class="col-md-2 control-label">Mục tiêu (%)
      <span class="required" aria-required="true"> * </span> :</label>
    <div class="col-md-4">
      <%= ff.number_field :target, as: :string, class: 'form-control', placeholder: '% lợi nhuận' %>
      <div class="form-control-focus"></div>
    </div>
  </div>

  <div class="form-group form-md-line-input">
    <label class="col-md-2 control-label">Dừng lãi
      <span class="required" aria-required="true"> * </span> :</label>
    <div class="col-md-4">
      <%= ff.number_field :take_profit, as: :string, class: 'form-control' %>
      <div class="form-control-focus"></div>
    </div>
    <label class="col-md-2 control-label">Dừng lỗ
      <span class="required" aria-required="true"> * </span> :</label>
    <div class="col-md-4">
      <%= ff.number_field :stop_loss, as: :string, class: 'form-control' %>
      <div class="form-control-focus"></div>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function () {
    $("#trade_trade_normal_method_attributes_point_entry, #trade_trade_normal_method_attributes_target").change(function () {
      var entry = parseFloat($('#trade_trade_normal_method_attributes_point_entry').val());
      var target = parseFloat($('#trade_trade_normal_method_attributes_target').val());

      if(target > 5){
        var loss = target/2
      } else if (target <= 5){
        var loss = target
      }

      if( entry != '' && ( target != '' || target == 0 ) )  {
        if(target == 0){
          $('#trade_trade_normal_method_attributes_take_profit').val((entry*1.00075/0.99925).toFixed(5))
          $('#trade_trade_normal_method_attributes_stop_loss').val((entry*1.00075/0.99925).toFixed(5))
        } else {
          $('#trade_trade_normal_method_attributes_take_profit').val(((entry*(target/100) + entry*1.00075)/0.99925).toFixed(5))
          $('#trade_trade_normal_method_attributes_stop_loss').val((entry*(0.99925 - loss/100)/1.00075).toFixed(5))
        }
      }
    });
  });
</script>