<div class="invoice-content-2 bordered">
  <div class="row invoice-head">
    <div class="col-md-7 col-xs-6">
      <div class="invoice-logo">
        <h1><%= @trade.merchandise_rate.slug %></h1>
        <div class="trade-status">
          <div class="form-group">
            <%= select_tag "trade", options_from_collection_for_select( Trade.statuses, 'first', 'first', @trade.status), {include_blank: false, class: "form-control input-small"} %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Ngày</h2>
      <p class="invoice-desc"><%= @trade.created_at.strftime("%d/%m/%Y") %></p>
    </div>
    <div class="col-xs-3">
      <h2 class="invoice-title uppercase">Giá mua </h2>
      <p class="invoice-desc"><%= format_money_with_fund(@trade.trade_normal_method&.point_entry) %></p>
    </div>
    <div class="col-xs-6">
      <h2 class="invoice-title uppercase">Số lượng</h2>
      <p class="invoice-desc inv-address"><%= @trade.trade_normal_method&.amount %></p>
    </div>
  </div>
  <div class="blog-page blog-content-2">
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-single-content">
          <div class="blog-single-head">
            <h1 class="blog-single-head-title">Nguyên nhân vào lệnh</h1>
          </div>
          <div class="blog-single-desc">
            <%= raw(@trade.reason) %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-content">
    <div class="row">
      <div class="col-md-12">
        <div class="portlet light bordered">
          <%= render partial: 'shared/comments_box', locals: {comments: @comments, comment_object: @trade} %>
        </div>
      </div>
    </div>
  </div>
</div>
