<%= form_with(model: daily_report, local: true) do |form| %>
  <% if daily_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(daily_report.errors.count, "error") %> prohibited this daily_report from being saved:</h2>

      <ul>
      <% daily_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :coin %>
    <%= form.text_field :coin %>
  </div>

  <div class="field">
    <%= form.label :new %>
    <%= form.text_field :new %>
  </div>

  <div class="field">
    <%= form.label :result %>
    <%= form.text_field :result %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
