<div class="tab-content">
  <% Group.find_by(name: "Coin categories").tags.each_with_index do |tag, index| %>
    <%= tag.name %>
    <div class="tab-pane active" id="tag_tab<%= tag.id %>">
      <div class="text-right">
        <% if defined? new_url %>
            <a class="btn green btn-outline btn-circle btn-sm" data-remote="true" href="<%= new_url %>?tag=<%= tag.id %>"><i class="fa fa-plus"></i>Thêm</a>
        <% end %>
      </div>

      <div class="table-scrollable">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th></th>
            <th class="text-center">Tên</th>
            <th class="text-center">Code</th>
            <th class="text-center">Miêu tả</th>
            <th class="text-center">Công nghệ</th>
            <th class="text-center">Theo dõi</th>
            <th></th>
          </tr>
          </thead>
          <tbody class="item-container-<%= tag.id %>">
            <% tag.coins.each do |coin| %>
              <tr class="item-<%= coin.id %>">
                <td class="text-center">
                  <a class="btn btn-circle btn-icon-only btn-default popovers" data-remote="true" href="<%= edit_coin_url(coin) %>" data-container="body" data-trigger="hover" data-placement="top" data-content="Sửa"><i class="icon-pencil"></i></a>
                </td>
                <td class="text-center"><%= coin.slug %></td>
                <td class="text-center"><%= coin.code %></td>
                <td><%= coin.meta_title %></td>
                <td><%= coin.is_follow %></td>
                <td class="text-center">
                  <%= link_to raw('<i class="fa fa-trash-o"></i>'), coin, method: :delete, data: {toggle: 'confirmation', placement: 'left', popout: false}, class: "btn red btn-circle btn-icon-only btn-default" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>