<p id="notice"><%= notice %></p>

<h1>Coins</h1>

<table>
  <thead>
    <tr>
      <th>Slug</th>
      <th>Title</th>
      <th>Description</th>
      <th>Code</th>
      <th>Rank</th>
      <th>Market cap usd</th>
      <th>Price usd</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.slug %></td>
        <td><%= coin.title %></td>
        <td><%= coin.description %></td>
        <td><%= coin.code %></td>
        <td><%= coin.rank %></td>
        <td><%= coin.market_cap_usd %></td>
        <td><%= coin.price_usd %></td>
        <td><%= coin.tag %></td>
        <td><%= link_to 'Show', coin %></td>
        <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
        <td><%= link_to 'Destroy', coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coin', new_coin_path %>
